* {
	margin: 0;
	padding: 0;
  }
  
  .menu-bar {
	background-color: #030804;
	text-align: center;
	color: #fff;
	height: 55px;
  }
  
  .menu-bar ul {
	display: inline-flex;
	list-style: none;
	color: #fff;
  }
  
  .menu-bar ul li {
	max-width: 300px;
	margin: auto;
	padding: 15px;
  }
  
  .menu-bar ul li a {
	text-decoration: none;
	color: #fff;
  }
  
  .active,
  .menu-bar ul li:hover {
	background: #335633;
	border-radius: 3px;
  }
  
  .sub-home {
	display: none;
  }
  
  .menu-bar ul li:hover .sub-home {
	display: block;
	position: absolute;
	background: #335633;
	margin-top: 15px;
	margin-left: -15px;
  }
  
  .menu-bar ul li:hover .sub-home ul {
	display: block;
	margin: 10px;
  }
  
  .menu-bar ul li:hover .sub-home ul li {
	width: 150px;
	padding: 10px;
	border-bottom: 1px dotted #fff;
	background: transparent;
	border-radius: 0;
	text-align: left;
  }
  
  .menu-bar ul li:hover .sub-home ul li:last-child {
	border-bottom: none;
  }
  
  .menu-bar ul li:hover .sub-home ul li a:hover {
	color: #b2ff00;
  }

.table {
    padding: 30px;
    margin: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    margin: 35px 0;
    font-size: large;
    border-radius: 5px;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgb(179, 255, 0);
}

th,
td {
    padding: 18px;
    text-align: left;
    font-weight: bold;
    color: #000000;
}

th {
    background-color: #4ec96f;
    color: #fff;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #ebf6eb;
}

tr:hover {
    background-color: #00ff2a;
}

#totalcost {
    color: #000;
    font-size: 1.2em;
}
